
input[name=tabifyTabs] { display: none !important; }

input[name=tabifyTabs] + label {
  padding: 15px !important;
  display: inline-block;
  height: auto !important;
  margin: 0px;
  cursor: pointer;
}

input[name=tabifyTabs]:checked + label {
  background: #ffb426;
  color: #fff;
}

.tabify { text-align: center; }

.tabifyTabs { height: auto; }

.tabifyTabs > div {
  display: none;
  padding: 10px;
  padding-top: 10px;
}

.tabifyTabs div .dropdown-button {
  padding-left: 30px;
  padding-right: 30px;
}

input[name=tabifyTabs]:nth-of-type(1):checked ~ .tabifyTabs > div:nth-child(1),
input[name=tabifyTabs]:nth-of-type(2):checked ~ .tabifyTabs > div:nth-child(2),
input[name=tabifyTabs]:nth-of-type(3):checked ~ .tabifyTabs > div:nth-child(3),
input[name=tabifyTabs]:nth-of-type(4):checked ~ .tabifyTabs > div:nth-child(4) {
  background: #FAFAFA;
  display: block;
}

.tabify {
  background: #f18e00;
  color: white;
}

.tabifyTabs > div { color: #727272; }



@media only screen and (min-width:359px) and (max-width:640px) {


input[name=tabifyTabs] + label {
    padding: 15px 15px !important;
    display: inline-block;
    height: auto !important;
    margin: 0px;
    font-size: 12px;
	cursor:pointer;
}

}
